

body{
    box-sizing: border-box;
    background-image: url('../img/planet-volumes-4IrVnSpwk48-unsplash.jpg');
    height: 100vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    padding: 2rem;
    
    
    
}
main{
    box-sizing:content-box;
    height: 100%;
    
}


/* titre */


.container-title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.h1{
    font-size: 8rem;
}
.p-description{
    padding-top:2rem ;
    width: 70vw;
}

/* nav */

.a-logo{
    color: aliceblue;
    font-size: 2.5rem;
}
header{
    
    width: 95%;
    display: flex;
    justify-content: space-between;
    position: fixed;

}
.div-burger-menu i{
    
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    
}
.container-burger-menu{
    background-color: rgba(248, 243, 243, 0.362);
    width: 40vh;
    text-align: center;
    padding: 2rem 0; 
    border-radius: 10px;
}
.li-menu-burger{
    padding-top: 1rem;
}
.li-menu-burger:first-child{
    padding-top: 0 ;

}
.a-menu-burger{
    text-decoration: none;
    font-weight: 700;
    
}
.a-menu-burger:link{
    color: aliceblue;

}
.a-menu-burger:visited{
    color: aliceblue;
}
.hidden{
    display:none;
}