<%- include('partials/header') %>
    <main>
        <div class="container-title">

            <h1 class="h1">pandora</h1>
            <p class="p-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ratione impedit unde porro suscipit, officia sint soluta totam sed debitis nemo, ipsam enim commodi, similique id. Sunt cum necessitatibus est?</p>
       
        </div>
<%- include('partials/footer') %>
 